.admin-page-wrapper {
  display: flex;
  flex-direction: column;
}
.admin-page__header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.admin-page-drinks {
  overflow: auto;
  flex: 1 1 auto;
}

.admin-page-drinks__item {
}

.admin-page-drinks__item-img,
.change-drink-line-block__image {
  height: 225px;
  width: 225px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-page-drinks__item-img img,
.change-drink-line-block__image img {
  height: 100%;
}
